<script defer src="/header/js/index.js"></script>

<header class="header">
  <a class="header__logo" title="Home page" href="/">Labirynth</a>

  <nav class="header__nav">
    <a class="nav__item" id="instruction">Instruction</a>
    <a class="nav__item">Authors</a>
  </nav>
</header>

<%- include('./instruction.ejs')%>
