<div class="instruction">
  <p class="instruction__text">
    The goal of the game is collect all treasures from your cards, and go back
    to where you started.
  </p>

  <p class="instruction__text">
    Check your card, and locate your symbol on the board- you can only move
    where there is a road. One piece of road is additional. You can rotate it,
    and put wherever you want.
  </p>

  <ol class="instruction__list">
    <li>
      Pick a place, where you want put a road by clicking arrows next to the
      board. YOU ALWAYS HAVE TO DO THAT!
    </li>
    <li>
      Now you can move wherever possible, by clicking a place where you want to
      go. You can also skip your move by clicking LEAVE MOVE.
    </li>
    <li>
      If you collecta treasure form your card, you will receive a new one. If
      you collect them all, and you will return to the place from which you
      started the game, you will win.
    </li>
  </ol>

  <p class="instruction__text">
    Look out! Other players can move your pawn by putting a road in line where
    you stand! If a pawn is pushed off the board, it will be moved to the
    opposite side.
  </p>
</div>
