<%- include('./includes/head.ejs')%>
</head>

<body>
    <div class="wrapper">
        <h1 class="lobby-title">Lobby</h1>
        <form action="/room" method="POST" class="new-room">
            <input name="room" type="text" placeholder="new room name" required class="new-room__input">
            <button type="submit" class="new-room__btn">Create</button>
        </form>
        <div class="active-rooms">
            <% Object.keys(rooms).forEach(room => { %>
            <div class="active-rooms__room">
                <div><%= room %></div>
                <a href="/<%= room %>">Join</a>
            </div>
            <% }) %>
        </div>

    </div>
</body>

</html>