.lobby-title {
  text-transform: uppercase;
  padding: 15px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 15%;
    height: 2px;
    position: absolute;
    background-color: #5d6575;
    left: 50%;
    transform: translateX(-50%);
  }
}

.new-room {
  select,
  &__input,
  &__btn {
    font-size: 1.5rem;
    padding: 5px;
    text-align: center;
  }

  &__btn {
    font-size: 1.5rem;
  }
}

.active-rooms {
  color: white;

  &__room {
    background-color: rgb(32, 40, 48);
    font-size: 1.7rem;
    border-radius: 10px;
    display: flex;
    padding: 15px 50px;
    margin: 10px auto;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    h4 {
      font-size: 1.2rem;
      font-weight: normal;
    }
    a {
      margin-left: 15px;
      display: block;
      color: white;
      text-decoration: none;
      background-color: green;
      padding: 10px;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
