.game {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.board-wrapper {
  position: relative;
  margin: 150px 0 100px;
  padding: 25px 25px 25px 100px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.info-box {
  position: absolute;
  bottom: 100%;
  margin-bottom: 65px;
  right: 5px;
  background-color: #DBBE8E;
  border: 1px solid black;
  transform: translateX(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 570px;
  padding: 10px;
  height: 50px;

}
