.board-arrows.unactive{
    display: none;
    width: $road-field-size;
    height: $road-field-size;
    color:rgba(255, 255, 255, 0);
}

.arrows-top, .arrows-bottom {
    @include arrow-column;
    
    cursor: pointer;

    &.unactive{
        animation: 'none';
    }
}

.arrows-top {
    animation: move-top 1s infinite alternate;
    
}

.arrows-bottom {
    bottom: 0;
    animation: move-bottom 1s infinite alternate;
}

.arrows-right, .arrows-left {
    @include arrow-row;
    cursor: pointer;
    &.unactive{
        animation: 'none';
    }
}

.arrows-left {
    animation: move-left 1s infinite alternate;
}

.arrows-right {
    right: 0;
    animation: move-right 1s infinite alternate;
}

@keyframes move-top {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(-20px);
    }
}

@keyframes move-bottom {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateY(20px);
    }
}

@keyframes move-left {
    from {
        transform: translateX(-30px);
    }
    to {
        transform: translateX(-20px);
    }
}

@keyframes move-right {
    from {
        transform: translateX(30px);
    }
    to {
        transform: translateX(20px);
    }
}