* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.game {
    position: absolute;
    left: 50%;
    top:40px;
    transform: translate(-50%, 5%);
}

.board-wrapper {
    position: relative;
}