* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: 100vw;
    height: 100vh;
}

.board-wrapper {
    grid-column: 1;
    position: relative;
    width: 100%;

    display: flex;
    align-self: center;
    justify-content: center;
}

.player-wrapper {
    grid-column: 2;

    margin: 2vw 0 0 5vw;

    display: grid;
    grid-template-rows: repeat(2, 1r);
}