* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.board-wrapper {
    grid-column: 1;
    position: absolute;
    top: 5vh;
    left: 4vw;
}

.panel-wrapper {
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}